%aStyle{
  text-decoration: none;
  color: black;
}

.brand_goods{
  width: 1000px;
  // height: 1000px;
  margin: 35px auto 0;
  // border: 1px solid #ccc;
  .brand_title{
    // &::before{
    //   content: "";
    //   width: 97%;
    //   height: 1px;
    //   left: 1.5%;
    //   top: 15px;
    //   position: absolute;
    //   background-color: #b7b7b7;
    // }
    width: 1000px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-around;
    .brand_line{
      width: 400px;
      height: 1px;
      margin-top: 15px;
      background-color: #b7b7b7;
    }
  }
  .cate_list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    a{
      display: block;
      text-decoration: none;
      color: black;
      font-size: 24px;
      text-align: center;
    }
    .cate_li{
      margin-top: 20px;
    }
  }
  .cate_line{
    width: 97%;
    height: 1px;
    margin: 20px auto 0;
    background-color: #b7b7b7;
  }
  .brand_btn{
    width: 100%;
    text-align: center;
    a{
      width: 398px;
      height: 48px;
      line-height: 48px;
      margin: 0 auto;
      text-decoration: none;
      border: 1px solid transparent;
      display: inline-block;
      color: #fff;
      background-color: #000;
      .font20{
        font-size: 20px;
        margin-left: 5px;
      }
      &:hover{
        color: #000;
        background-color: #fff;
        border: 1px solid #000;
      }
    }
  }
}

// 渲染区域
.cate_detail{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  .cate_detail_li{
    height: 298px;
    font-size: 14px;
    border: 1px solid transparent;
    margin-top: 20px;
    .ca_de_img{
      width: 165px;
      height: 180px;
    }
    &:hover{
      border: 1px solid #000;
    }
  }
}

.ca_de_img{
  width: 165px;
  height: 180px;
  img{
    width: 100%;
  }
}

.ca_de_title{
  height: 55px;
  margin-bottom: 5px;
  a{
    @extend %aStyle;
  }
}

.now_price{
  font-weight: bold;
}

.old_price{
  color: red;
  font-weight: bold;
}