%aStyle{
  text-decoration: none;
  color: black;
}



.page_content{
  width: 100%;
  height: auto;
  position: relative;
  top: 110px;
  .content_title{
    &::before{
      content: "";
    }
    width: 1000px;
    height: 30px;
    padding: 40px 0 45px;
    line-height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .line{
      width: 30%;
      height: 1px;
      background-color: #b7b7b7;
      margin-top: 15px;
    }
    .category{
      font-size: 30px;
    }
  }
  .content_body{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .content_l{
      width: 25%;
      height: 100%;
    }
    .content_r{
      width: 75%;
      height: auto;
    }
  }
}

// 左侧分类相关
.cate_list{
  width: 88.8%;
  .cate_head{
    width: auto;
    height: 78px;
    border: 1px solid #b7b7b7;
    padding: 0 10px;
    font-size: 18px;
    margin-bottom: 50px;
    .cate_head_title{
      height: 48px;
      line-height: 48px;
      border-bottom: 1px solid #b7b7b7;
    }
  }
  .cate_li{
    height: 25px;
    padding: 18px 0 5px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #b7b7b7;
    span{
      font-size: 18px;
      font-weight: bold;
    }
  }
}

// 右侧列表
.fun_title{
  width: 100%;
  line-height: 40px;
  margin-bottom: 30px;
  .order{
    margin: 0 20px;
  }
  a{
    color: black;
    padding: 3px 15px;
    border: 1px solid black;
  }
}

// 渲染区域
.cate_detail{
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .cate_detail_li{
    width: 30%;
    height: 298px;
    font-size: 14px;
    border: 1px solid transparent;
    margin-top: 20px;
    // padding: 0 10px;
    .ca_de_img{
      width: 165px;
      height: 180px;
      margin: 0 auto;
    }
    &:hover{
      border: 1px solid #000;
    }
  }
}

.ca_de_img{
  width: 165px;
  height: 180px;
  img{
    width: 100%;
  }
}

.ca_de_title{
  height: 55px;
  margin-bottom: 5px;
  a{
    @extend %aStyle;
  }
}

.now_price1{
  font-weight: bold;
  color: black;
}
.now_price2{
  font-weight: bold;
  color: red;
}

.old_price{
  font-weight: bold;
}