.h131{
  height: 131px !important;
}

// 导航相关
.nav {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #464646;
  position: relative;

  .nav_content {
    width: 800px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: #fff;

    .nav_li {
      width: 100px;
      height: 100%;
      padding: 0 10px;
      text-align: center;
      a:hover{
        text-decoration: underline;
      }
    }

    a {
      @extend %aCommon;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
}



// 二级菜单
.nav_extend {
  width: 100%;
  height: 262px;
  background-color: #fff;
  display: none;
  position: absolute;
  z-index: 998;
  .nav_extend_main{
    width: 1000px;
    height: 49.9%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  .nav_extend_line{
    width: 100%;
    height: 1px;
    background-color: #999;
  }
}
.nav_extend_item{
  width: 100%;
  position: absolute;
}
.nav_extend_li{
  width: 130px;
  height: 130px;
  text-align: center;
  a{
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    span{
      width: 130px;
      display: block;
      position: absolute;
      bottom: 0px;
      font-size: 14px;
    }
    img{
      width: 100%;
    }
  }
}