.page_bottom{
  width: 100%;
  margin: 80px auto 0;
  position: relative;
  top: 110px;
  .feature{
    width: 1000px;
    margin: 40px auto 0;
    background-color: antiquewhite;
  }
  .infomation{
    height: 360px;
    background-color: #999;
  }
}