%code_area{
  height: 100%; 
  border: 1px solid black;
  color: #000;
  cursor: pointer;
  font-size: 13px;
}
%login_btn_style{
  width: 61.7%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  outline: none;
}



// 注册登录相关
.header_extend{
  width: 100%;
  height: 320px;
  background-color: #fff;
  padding: 40px 0;
  display: none;
  .header_register{
    height: 315px;
    display: none;
  }
  .header_login{
    height: 315px;
    display: none;
  }
  .reg_form{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.reg_form{
  .reg_title{
    margin-bottom: 20px;
  }
  .reg_content{
    font-size: 14px;
  }
  input{
    width: 100%;
    height: 40px;
  }
  .reg_cue{
    width: 100%;
    display: block;
    font-size: 13px;
    color: red
  }
  .reg_l{
    @extend %reg30percent;
  }
  .reg_c{
    @extend %reg30percent;
    .reg_code{
      width: 80% !important;
    }
    .reg_code_area{
      @extend %code_area;
    }
  }
  .reg_r{
    @extend %reg30percent;
    .male{
      width: 25%;
      height: 20px;
    }
    .female{
      width: 25%;
      height: 20px;
    }
    a{
      display: block;
    }
  }
}
.reg_btn{
  height: 44px !important;
  line-height: 46px;
  background-color: black;
  border: 1px solid transparent;
  color: white;
  outline: none;
  text-align: center;
  color: white;
  .font20{
    font-size: 20px;
    margin-left: 5px;
  }
  a{
    width: 100%;
    height: 100%;
    display: block;
  }
  &:hover{
    background-color: white;
    border: 1px solid black;
    a{     
      color: black;
    }
  }
  span{
    visibility: visible;
  }
}
// 不能注册时按钮的样式
.reg_btn_disable{
  height: 44px !important;
  line-height: 46px;
  background-color: #ccc;
  outline: none;
  border: 1px solid #000;
  text-align: center;
  color: white;
  a{
    cursor: default;
  }
  span{
    visibility: hidden;
  }
}


.login_content{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  .reg_confirm{
    width: 40%;
    text-align: center;
    h1{
      @extend %form_title;
    }
  }
  .login_line{
    width: 10%;
    height: 100%;
    .log_line{
      width: 1px;
      height: 100%;
      background-color: #464646
    }
  }
  .login_form{
    width: 50%;
    h1{
      @extend %form_title;
    }
    p{
      margin-bottom: 15px;
    }
    .login_bottom{
      width: 60%;
      height: 40px;
      font-size: 13px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .forget{
        margin-top: 3px;
        color: #464646;
        text-decoration: underline;
      }
    }
  }
}
.confirm_btn{
  width: 148px;
  height: 38px;
  line-height: 38px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  border: 1px solid transparent;
  cursor: pointer;
  .font20{
    font-size: 20px !important;
    margin-left: 5px;
  }
  &:hover{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
  }
}
.login_form{
  .login_option{
    width: 60%;
    input{
      width: 100% !important;
      height: 35px !important;
    }
  }
  .login_option_code{
    width: 60%;
    display: flex;
    justify-content: space-between;
    input{
      width: 70%;
      height: 40px;
    }
    .login_code_area{
      width: 20%;
      height: 44px;
      line-height: 44px;
      font-size: 14px;
      display: block;
      text-align: center;
      @extend %code_area;
    }
  }
  .login_protocol{
    width: 60%;
    font-size: 13px;
    a{
      color: black;
      text-decoration: underline;
    }
  }
  .login_btn{
    @extend %login_btn_style;
    background-color: #000;
    border: 1px solid transparent;
    .font20{
      font-size: 20px !important;
      margin-left: 5px;
      visibility: visible;
    }
    a{
      width: 100%;
      height: 100%;
      display: block;
      color: #fff;
    }
    &:hover{
      background-color: white;
      border: 1px solid black;
      a{
        color: black;
      }
    }
  }
  .login_btn_disable{
    @extend %login_btn_style;
    background-color: #ccc;
    border: 1px solid #000;
    color: white;
    a{
      cursor: default;
    }
    span{
      visibility: hidden;
    }
  }
}