// 注册登录相关
.header_extend{
  width: 100%;
  height: 320px;
  background-color: #fff;
  padding: 40px 0;
  display: none;
  .header_register{
    height: 315px;
    display: none;
  }
  .header_login{
    height: 315px;
    display: none;
  }
  .reg_form{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.reg_form{
  .reg_title{
    margin-bottom: 20px;
  }
  input{
    width: 100%;
    height: 40px;
  }
  .reg_l{
    @extend %reg30percent;
  }
  .reg_c{
    @extend %reg30percent;
  }
  .reg_r{
    @extend %reg30percent;
    .male{
      width: 25%;
      height: 20px;
    }
    .female{
      width: 25%;
      height: 20px;
    }
    a{
      display: block;
    }
    .reg_btn{
      height: 44px;
      line-height: 46px;
      text-align: center;
      background-color: black;
      color: #ccc;
      border: 1px solid transparent;
      .font20{
        font-size: 20px;
        margin-left: 5px;
      }
      span{
        visibility: visible;
      }
    }
    // 不能注册时按钮的样式
    // .reg_btn{
    //   height: 44px;
    //   line-height: 46px;
    //   text-align: center;
    //   background-color: #ccc;
    //   border: 1px solid #000;
    //   span{
    //     visibility: hidden;
    //   }
    // }
  }
}
.login_content{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  .reg_confirm{
    width: 40%;
    text-align: center;
    h1{
      @extend %form_title;
    }
  }
  .login_line{
    width: 10%;
    height: 100%;
    .log_line{
      width: 1px;
      height: 100%;
      background-color: #464646
    }
  }
  .login_form{
    width: 50%;
    h1{
      @extend %form_title;
    }
    p{
      margin-bottom: 20px;
    }
  }
}
.confirm_btn{
  width: 148px;
  height: 38px;
  line-height: 38px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  border: 1px solid transparent;
  cursor: pointer;
  .font20{
    font-size: 20px;
    margin-left: 5px;
  }
  &:hover{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
  }
}
.login_form{
  .login_option{
    width: 60%;
    input{
      width: 100%;
      height: 40px;
    }
  }
}