.bg20{
  margin-bottom: 20px;
}

.site_map{
  width: 1000px;
  height: 610px;
  margin: 75px auto 0;
  text-align: center;
  // background-color: coral;
  position: relative;
  top: 110px;
  .site_line{
    width: 1000px;
    height: 30px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    &::before{
      width: 97%;
      height: 1px;
      content: "";
      background-color: #999;
      position: absolute;
      left: 1.5%;
      top: 15px;
    }
  }
  .site_content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .site_li{
      width: 24%;
      height: 280px;
    }
  }
}

.site_li{
  a{
    color: #000;
    text-decoration: none;
  }
  .site_title{
    margin-bottom: 20px;
    font-weight: bolder;
  }
  .site_inner{
    font-weight: bold;
    font-size: 13px;
    a:hover{
      color: #999;
    }
  }
}