$aColor: #fff;
%aCommon{
  color: $aColor;
  text-decoration: none;
}
%reg30percent{
  width: 30%;
}


.stick_header{
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 999;
  .header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    position: relative;
  }
  .nav{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #464646;
    position: relative;
  }
}

// 头部相关
.header_content{
  height: 100%;
  padding-left: 68px;
  padding-right: 84px;
  color: $aColor;
  display: flex;
  justify-content: space-between;
  .iconfont{
    margin-left: 10px;
  }
  a{
    @extend %aCommon;
  }
  .header_tools{
    width: 510px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  }
}

// 注册登录相关
.header_extend{
  width: 100%;
  height: 320px;
  background-color: #fff;
  padding: 40px 0;
  display: block;
  .header_register{
    height: 315px;
    display: none;
  }
  .header_login{
    height: 315px;
    display: block;
  }
  .reg_form{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.reg_form{
  .reg_title{
    margin-bottom: 20px;
  }
  input{
    width: 100%;
    height: 40px;
  }
  .reg_l{
    @extend %reg30percent;
  }
  .reg_c{
    @extend %reg30percent;
  }
  .reg_r{
    @extend %reg30percent;
    .male{
      width: 25%;
      height: 20px;
    }
    .female{
      width: 25%;
      height: 20px;
    }
    a{
      display: block;
    }
    .reg_btn{
      height: 44px;
      line-height: 46px;
      text-align: center;
      background-color: #ccc;
      border: 1px solid #000;
    }
  }
}
.login_content{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .reg_confirm{
    @extend %reg30percent;
  }
  .login_line{
    @extend %reg30percent;
    height: 100%;
    .log_line{
      width: 1px;
      height: 100%;
      background-color: #464646
    }
  }
  .login_form{
    @extend %reg30percent;
  }
}


// 导航相关
.nav_content{
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color:#fff;
  a{
    @extend %aCommon;
  }
}

// 二级菜单
.nav_extend{
  width: 100%;
  height: 262px;
  background-color: #fff;
  display: none;
  position: absolute;
  z-index: 998;
}