$aColor: #fff;
%aCommon{
  color: $aColor;
  text-decoration: none;
}
%reg30percent{
  width: 30%;
}
%form_title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

// 遮罩
.mask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110px;
  background-color: #000;
  opacity: 0.8;
  display: none;
  z-index: 998;
}


.stick_header{
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 999;
  .header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    position: relative;
  }
}

// 头部相关
.header_content{
  height: 100%;
  padding-left: 68px;
  padding-right: 84px;
  color: $aColor;
  display: flex;
  justify-content: space-between;
  .iconfont{
    margin-left: 10px;
  }
  a{
    @extend %aCommon;
  }
  .header_tools{
    width: 510px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    .font25{
      font-size: 25px !important;
    }
    .log_a_btn{
      visibility: visible;
      &:hover{
        text-decoration: underline;
      }
    }
    .reg_a_btn{
      visibility: visible;
      &:hover{
        text-decoration: underline;
      }  
    }
    .reg_log_active{
      text-decoration: underline;
    }
    .shop_cart:hover{
      text-decoration: underline;
    }
    .logout{
      margin-left: 5px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@import 'regLogin';
@import 'nav';
