html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header_content a, .nav_content a, .banner a {
  color: #fff;
  text-decoration: none;
}

.stick_header {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 999;
}
.stick_header .header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  position: relative;
}
.stick_header .nav {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #464646;
  position: relative;
}

.header_content {
  height: 100%;
  padding-left: 68px;
  padding-right: 84px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.header_content .iconfont {
  margin-left: 10px;
}
.header_content .header_tools {
  width: 510px;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.nav_content {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.nav_extend {
  width: 100%;
  height: 262px;
  background-color: #fff;
  display: none;
  position: absolute;
  z-index: 998;
}

.page_main {
  width: 100%;
  position: relative;
  top: 110px;
}
.page_main .notice {
  height: 30px;
  padding: 15px 0;
  text-align: center;
  background-color: #fff;
}
.page_main .banner {
  height: 618px;
  background-color: brown;
}

.notice .notice_content {
  font-size: 12px;
}

.header_content a, .nav_content a, .banner a {
  color: #fff;
  text-decoration: none;
}

.banner .slide_prev, .banner .slide_next {
  width: 40px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  background-color: black;
  position: absolute;
}

.banner {
  position: relative;
}
.banner .slide {
  height: 582px;
  background-color: brown;
  position: relative;
}
.banner .slide_prev {
  top: 50%;
  left: 0;
  margin-top: -50px;
}
.banner .slide_next {
  top: 50%;
  right: 0;
  margin-top: -50px;
}
.banner .slide_menu {
  width: 100%;
  height: 30px;
  padding-top: 6px;
  line-height: 36px;
  font-size: 13px;
  margin: 0 auto;
  color: #333;
  position: absolute;
  bottom: 0;
  background-color: #fff;
}

.menu_list {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.menu_list .menu_li {
  cursor: pointer;
  border: 1px solid transparent;
}
.menu_list .menu_li:hover {
  border-top: 1px solid #333;
}

.ca_de_title a {
  text-decoration: none;
  color: black;
}

.brand_goods {
  width: 1000px;
  height: 1000px;
  margin: 35px auto 0;
  border: 1px solid #ccc;
}
.brand_goods .brand_title {
  width: 1000px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  margin: 20px auto;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.brand_goods .brand_title .brand_line {
  width: 400px;
  height: 1px;
  margin-top: 15px;
  background-color: #b7b7b7;
}
.brand_goods .cate_list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.brand_goods .cate_list a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
.brand_goods .cate_list .cate_li {
  margin-top: 20px;
}
.brand_goods .cate_line {
  width: 97%;
  height: 1px;
  margin: 20px auto 0;
  background-color: #b7b7b7;
}

.cate_detail {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.cate_detail .cate_detail_li {
  height: 300px;
  font-size: 14px;
}
.cate_detail .cate_detail_li .ca_de_img {
  width: 165px;
  height: 180px;
}

.ca_de_img {
  width: 165px;
  height: 180px;
}
.ca_de_img img {
  width: 100%;
}

.ca_de_title {
  height: 55px;
  margin-bottom: 5px;
}

.page_bottom {
  width: 100%;
  margin: 80px auto 0;
  position: relative;
  top: 110px;
}
.page_bottom .feature {
  width: 1000px;
  margin: 40px auto 0;
  background-color: antiquewhite;
}
.page_bottom .infomation {
  height: 360px;
  background-color: #999;
}

.site_map {
  width: 1000px;
  height: 610px;
  margin: 75px auto 0;
  text-align: center;
  background-color: coral;
  position: relative;
  top: 110px;
}
.site_map .site_line {
  width: 1000px;
  height: 30px;
  margin: 20px auto;
  text-align: center;
}

.footer {
  width: 100%;
  height: 180px;
  background-color: black;
  position: relative;
  top: 110px;
}
.footer .footer_content {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
