html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header_content a, .nav .nav_content a {
  color: #fff;
  text-decoration: none;
}

.reg_form .reg_l, .reg_form .reg_c, .reg_form .reg_r {
  width: 30%;
}

.login_content .reg_confirm h1, .login_content .login_form h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110px;
  background-color: #000;
  opacity: 0.8;
  display: none;
  z-index: 998;
}

.stick_header {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 999;
}
.stick_header .header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  position: relative;
}

.header_content {
  height: 100%;
  padding-left: 68px;
  padding-right: 84px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.header_content .iconfont {
  margin-left: 10px;
}
.header_content .header_tools {
  width: 510px;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}
.header_content .header_tools .font25 {
  font-size: 25px !important;
}

.header_extend {
  width: 100%;
  height: 320px;
  background-color: #fff;
  padding: 40px 0;
  display: none;
}
.header_extend .header_register {
  height: 315px;
  display: none;
}
.header_extend .header_login {
  height: 315px;
  display: none;
}
.header_extend .reg_form {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header_extend .reg_form ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reg_form .reg_title {
  margin-bottom: 20px;
}
.reg_form input {
  width: 100%;
  height: 40px;
}
.reg_form .reg_r .male {
  width: 25%;
  height: 20px;
}
.reg_form .reg_r .female {
  width: 25%;
  height: 20px;
}
.reg_form .reg_r a {
  display: block;
}
.reg_form .reg_r .reg_btn {
  height: 44px;
  line-height: 46px;
  text-align: center;
  background-color: black;
  color: #ccc;
  border: 1px solid transparent;
}
.reg_form .reg_r .reg_btn .font20 {
  font-size: 20px;
  margin-left: 5px;
}
.reg_form .reg_r .reg_btn span {
  visibility: visible;
}

.login_content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.login_content .reg_confirm {
  width: 40%;
  text-align: center;
}
.login_content .login_line {
  width: 10%;
  height: 100%;
}
.login_content .login_line .log_line {
  width: 1px;
  height: 100%;
  background-color: #464646;
}
.login_content .login_form {
  width: 50%;
}
.login_content .login_form p {
  margin-bottom: 20px;
}

.confirm_btn {
  width: 148px;
  height: 38px;
  line-height: 38px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  border: 1px solid transparent;
  cursor: pointer;
}
.confirm_btn .font20 {
  font-size: 20px;
  margin-left: 5px;
}
.confirm_btn:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.login_form .login_option {
  width: 60%;
}
.login_form .login_option input {
  width: 100%;
  height: 40px;
}

.h131 {
  height: 131px !important;
}

.nav {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #464646;
  position: relative;
}
.nav .nav_content {
  width: 800px;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: #fff;
}
.nav .nav_content .nav_li {
  width: 100px;
  height: 100%;
  padding: 0 10px;
  text-align: center;
}
.nav .nav_content .nav_li a:hover {
  text-decoration: underline;
}
.nav .nav_content a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.nav_extend {
  width: 100%;
  height: 262px;
  background-color: #fff;
  display: none;
  position: absolute;
  z-index: 998;
}
.nav_extend .nav_extend_main {
  width: 1000px;
  height: 49.9%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.nav_extend .nav_extend_line {
  width: 100%;
  height: 1px;
  background-color: #999;
}

.nav_extend_item {
  width: 100%;
  position: absolute;
}

.nav_extend_li {
  width: 130px;
  height: 130px;
  text-align: center;
}
.nav_extend_li a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
}
.nav_extend_li a span {
  width: 130px;
  display: block;
  position: absolute;
  bottom: 0px;
  font-size: 14px;
}
.nav_extend_li a img {
  width: 100%;
}

.ca_de_title a {
  text-decoration: none;
  color: black;
}

.page_content {
  width: 100%;
  height: auto;
  position: relative;
  top: 110px;
}
.page_content .content_title {
  width: 1000px;
  height: 30px;
  padding: 40px 0 45px;
  line-height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.page_content .content_title::before {
  content: "";
}
.page_content .content_title .line {
  width: 30%;
  height: 1px;
  background-color: #b7b7b7;
  margin-top: 15px;
}
.page_content .content_title .category {
  font-size: 30px;
}
.page_content .content_body {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.page_content .content_body .content_l {
  width: 25%;
  height: 100%;
}
.page_content .content_body .content_r {
  width: 75%;
  height: auto;
}

.cate_list {
  width: 88.8%;
}
.cate_list .cate_head {
  width: auto;
  height: 78px;
  border: 1px solid #b7b7b7;
  padding: 0 10px;
  font-size: 18px;
  margin-bottom: 50px;
}
.cate_list .cate_head .cate_head_title {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #b7b7b7;
}
.cate_list .cate_li {
  height: 25px;
  padding: 18px 0 5px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #b7b7b7;
}
.cate_list .cate_li span {
  font-size: 18px;
  font-weight: bold;
}

.fun_title {
  width: 100%;
  line-height: 40px;
  margin-bottom: 30px;
}
.fun_title .order {
  margin: 0 20px;
}
.fun_title a {
  color: black;
  padding: 3px 15px;
  border: 1px solid black;
}

.cate_detail {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cate_detail .cate_detail_li {
  height: 298px;
  font-size: 14px;
  border: 1px solid transparent;
  margin-top: 20px;
}
.cate_detail .cate_detail_li .ca_de_img {
  width: 165px;
  height: 180px;
}
.cate_detail .cate_detail_li:hover {
  border: 1px solid #000;
}

.ca_de_img {
  width: 165px;
  height: 180px;
}
.ca_de_img img {
  width: 100%;
}

.ca_de_title {
  height: 55px;
  margin-bottom: 5px;
}

.now_price {
  font-weight: bold;
}

.old_price {
  color: red;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #fff;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: black;
  position: relative;
  top: 110px;
}
.footer .footer_content {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.footer_content {
  font-size: 12px;
}
.footer_content .footer_nav {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 18px 0;
}
.footer_content .footer_logo {
  width: 67px;
  height: 50px;
  margin: 0 auto;
}
.footer_content .footer_logo img {
  width: 100%;
}
.footer_content .footer_info {
  line-height: 20px;
  color: #fff;
  margin: 12px auto;
  text-align: center;
}
.footer_content .police {
  width: 60px;
  margin: 0 auto;
}
.footer_content .police img {
  width: 100%;
}

.line_chat {
  position: fixed;
  top: 300px;
  right: 0;
  z-index: 997;
}

/*# sourceMappingURL=list.css.map */
